Flask==0.11.1
Flask-Admin==1.4.2
Flask-Bcrypt==0.7.1
Flask-Login==0.3.2
Flask-WTF==0.12
Jinja2==2.8
MarkupSafe==0.23
Pillow==8.1.1
RTIMULib==7.2.1
WTForms==2.1
Werkzeug==0.11.10
bcrypt==3.1.0
cffi==1.7.0
chardet==2.3.0
click==6.6
colorama==0.3.2
decorator==4.0.10
gpiozero==1.2.0
html5lib==0.999
itsdangerous==0.24
mcpi==0.1.1
numpy==1.8.2
peewee==2.8.1
pgzero==1.1
picamera==1.10
pifacecommon==4.2.1
pifacedigitalio==3.1.0
pigpio==1.30
pycparser==2.14
pygame==1.9.2a0
pyserial==2.6
python-apt==0.9.3.12
python-debian==0.1.27
requests==2.4.3
sense-hat==2.1.0
six==1.8.0
spidev==3.0
urllib3==1.9.1
validators==0.10.3
wheel==0.24.0
wtf-peewee==0.2.6
